/*
*/
html,
body {
	height: 100%;
}
.aviso {
	background-color:#FFC000!important;
	font-family: impact;
}
.impact{
font-family: impact;	
}
.editart {color: #FFC000; font-size: 1.5em; border-radius: 5px; border: 1px solid; border-color: orange;}
.verart {color: #31B0D5; font-size: 1.5em; border-radius: 5px; border: 1px solid; border-color: orange;}

.verelim{
	color: brown; font-size: 1.5em; border-radius: 5px; border: 1px solid; border-color: orange;
}
/*.navbar-inverse	 {*/
	/*background-color: #FFC000 !important;*/
/*}*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background: none;}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background: none;
}
.navbar-inverse .navbar-nav > .active > a {background: none;}
.naranjamp{
	color:#FFC000;
}
.articulos-create  {
	color:#FFC000;
	text-transform:uppercase;
}
.titulocrear{
	font-family:impact;
	text-align:center;	
}

.articulo-articulo{
text-transform:uppercase;
color:#FFC000;
font-family:impact !important;
}
.categoriasinicio{
	    font-size: 1.2em;
}
.navbar-MP{
	background-color: #FFC000;
	height: 69px !important;
}
.carousel-index{
	margin-bottom: 20px;
}
.mensaje-index{
	text-align: center;
	color:#5BC0DE;
}
.forbusqueda{
width: 52%;
margin-top: 15px;
}
.img-resposive{
	width: 195px;
margin: 5px;
}
.boxbusqueda{
	width: 90%;
}
.busqueda {

width: 100% !important;
}
.articulo{
font-family: impact;
	height: 362px;
}
.cabeceraboton{
	font-family: impact !important;
}
.cabeceraboton > li > a{
	color: white !important;
}
.cabeceraboton > li > a:hover{
	color: black !important;
}
.navbar-brand{
	padding-top: 5px !important;
}
.art_articulo{
	/*font-weight: bold;*/
	color: black;
	/*font-family: "Eras ITC", "Eras Light ITC", sans-serif;*/
	text-transform: capitalize;
	font-size: 19px;
	/*padding-left: 4px;*/

}
.art_foto1{
	border: 3px solid;
	border-color:#FFC000;
	width: 90%;
height: 60%;
text-align: center;
}
.container-fluid{
	margin-top: 20px;
}
.articulo-descripciontitulo {
	text-align: center;
font-family: impact;

}
.pregunta{
	    padding: 5px;
    background-color: rgba(96, 89, 89, 0.6);
    border-radius: 5px;
}
.respuesta{
	background-color: rgba(97, 83, 120, 0.24);
border-radius: 5px;
padding: 5px;
margin-top: 5px;
margin-left: 15px;
}
.sinpreguntas{
	text-transform: capitalize;
text-align: center;
color: #5BC0DE;
}
.articulo-preguntas {
	text-align: center;
font-family: impact;
}
.art_precio{
	color: red;
font-size: 20px;
/*padding-left: 4px;*/
/*font-family: impact;*/

}
	
.iconback{
	color: #5BC0DE;
border-radius: 30px;
font-size: 45px;
border: 1px solid;
	}
.art_cantidad{
	color: #5BC0DE;
	font-size: 25px;
}
.art_usuario{
	padding: 20px
}
.art_usuario > a{
	/*padding: 5px;*/
	font-size: 20px;
	color: #5BC0DE;
}
.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 0px;
}

.wrap > .container {
	padding: 20px 15px 20px;
}
.pcimagenlogo{
	    width: 47%;
}

.developer {
 padding-top: 18px;
}
.copyright{
    color: #FFF;
    padding-top: 22px;
    font-family: arial;
    font-weight: bold;
    padding-left: 40px;
}
.footer {
	/*height: 60px;*/
background-color: rgba(128, 128, 128, 0.4);
	border-top: 1px solid #ddd;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}
.botonpreguntar{
	text-align: right;
}
.boton-formulario-preguntar {
	margin-bottom: 3px;
	border-color: red;
}
.boton-formulario-preguntar:focus {   
  border-color: red;
}

#lz_floating_button {top: 457px !important ;   }
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}
a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
	padding: 8px;
}
.nav > li > form > button:hover {
		text-decoration: none;
	}
}
.paginacion{
	text-align: center !important;
}

@media (max-width: 767px) {
.navbar-collapse{
	background: red;
}